{{page-title @model.name "'s books | B00kL1st3r" replace=true}}


<div class="mb-8 flex">
    {{#if this.sortedBooks.length}}
    <span class="relative z-0 inline-flex shadow-sm">
        <LinkTo
            class="rounded-1-md inline-flex items-center px-4 py-2 border border-gray-300 bg-purple-200 leading-5 font-medium text-gray-600 hover:text-white hover:bg-purple-800"
            data-test-rr="sort-by-title-asc" @query={{hash s="title" }}>
            Title
            <FaIcon class='ml-2' @icon="angle-up" @prefix="fas" />
        </LinkTo>
        <LinkTo
            class="rounded-1-md inline-flex items-center px-4 py-2 border border-gray-300 bg-purple-200 leading-5 font-medium text-gray-600 hover:text-white hover:bg-purple-800"
            data-test-rr="sort-by-title-desc" @query={{hash s="-title" }}>
            Title
            <FaIcon class='ml-2' @icon="angle-down" @prefix="fas" />
        </LinkTo>
        <LinkTo
            class="rounded-1-md inline-flex items-center px-4 py-2 border border-gray-300 bg-purple-200 leading-5 font-medium text-gray-600 hover:text-white hover:bg-purple-800"
            data-test-rr="sort-by-rating-asc" @query={{hash s="rating" }}>
            Rating
            <FaIcon class='ml-2' @icon="angle-up" @prefix="fas" />
        </LinkTo>
        <LinkTo
            class="rounded-1-md inline-flex items-center px-4 py-2 border border-gray-300 bg-purple-200 leading-5 font-medium text-gray-600 hover:text-white hover:bg-purple-800"
            data-test-rr="sort-by-rating-desc" @query={{hash s="-rating" }}>
            Rating
            <FaIcon class='ml-2' @icon="angle-down" @prefix="fas" />
        </LinkTo>
    </span>
    {{/if}}
    <div class="relative ml-auto rounded-md shadow-sm">
        <input type="text" class="border rounded-md py-2 px-3 block w-full pr-10 text-gray-800 sm:text-sm sm:leading-5"
            data-test-rr="search-box" {{on "input" this.updateSearchTerm}} />
        <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
            <FaIcon class="h-5 w-5 text-gray-400" @icon="search" @prefix="fas" />
        </div>
    </div>
</div>
{{#if this.sortedBooks.length}}
<ul>
    {{#each this.sortedBooks as |book|}}
    <li class="mb-2" data-test-rr="book-list-item">
        {{book.title}}
        <span class="float-right">
            <StarRating @rating={{book.rating}} @onUpdate={{fn this.updateRating book}} />
        </span>
    </li>
    {{/each}}
</ul>
{{else}}
<p class="text-center" data-test-rr="no-books-text">
    No books by this author are available.
</p>
{{/if}}
{{!-- BEWARE: The controller defining the context behind this is a singleton, which is not page specific! --}}
{{#if this.showAddBook}}
<div class="flex justify-center mt-5">
    <button type="button"
        class="px-4 py-2 rounded bg-purple-200 shadow-md hover:shadow-lg hover:text-white hover:bg-purple-800 focus:outline-none"
        {{on "click" (set this "showAddBook" false)}}>
        Add book
    </button>
</div>
{{else}}
<div class="mt-6 flex">
    <input type="text" class="text-gray-800 bg-white rounded-md py-2 px-4" placeholder="Title" value={{this.title}}
        {{on "input" this.updateTitle}} />
    <button type="button"
        class="ml-4 px-4 py-2 rounded bg-green-200 shadow-md hover:shadow-lg hover:text-white hover:bg-green-800"
        {{on "click" this.saveBook}}>
        Save
    </button>
    <button type="button"
        class="ml-4 px-4 py-2 rounded bg-red-200 shadow-md hover:shadow-lg hover:text-white hover:bg-red-800"
        {{on "click" this.cancel}}>
        Cancel
    </button>
</div>
{{/if}}